<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://dockerregistry.liemander.com</RegistryUrl>
    <UserName>liemander</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e448edca-7173-447e-9e89-dcef3e46f9c6</ProjectGuid>
    <_TargetId>DockerCustomContainerRegistry</_TargetId>
    <PublishImageTag>latest</PublishImageTag>
  </PropertyGroup>
</Project>